*{
    
    margin: 0px;
    padding: 0px;
    
}
.navbar{
    position: fixed;
    background-color:rgb(14, 11, 8);
    height: 60px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-bottom: 100px solid;
    border-width: medium;
  border-color:rgb(230, 162, 162);
}

.por{
    font-size: 35px;
    font-weight: 400;
    float:left;
    text-shadow: 1px 2px  rgb(247, 231, 231);
    padding: 16px 30px;
    color: rgb(196, 189, 189);
}
.por li{
    list-style: none;
}
.nava{
    float: right;
    cursor: pointer;

}
.nava li{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    padding: 22px 30px;
    list-style: none;
}
.nava a{
    text-decoration: none;
    color: rgb(247, 231, 231);
}

.boo{
    font-weight:bolder;
    color:rgb(214, 238, 203);
    height:100vh;
    width: 100%;
    background-image:url(images/mac.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 1px 1px  rgb(7, 187, 97);
}
.boo ul{
    padding-top: 200px;
    padding-left: 30px;
    
    float: left;
    list-style: none;
    font-size:60px;
}
.space{
    height: 10px;
    width: 100%;
    background-color: azure;
}




.About{
    height:100vh;
    font-weight: 600;
    width:100%;
}
.about-head{
    padding-top:100px;
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 2px  rgb(185, 60, 60);
}
.imag{
    margin: 70px;
    padding: 30px 20px;
    height: 400px;
    width: 400px;
    background-image: url(images/raghu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 300px;
}
.about-data{
    float: right;
}