*{
    
    margin: 0px;
    padding: 0px;
    
}
#navbar{
    position: fixed;
    background-color:whitesmoke;
    height: 65px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-bottom: 100px solid;
    border-width: medium;
  border-color:rgb(156, 187, 233);
}

.por{
    float: left;
    height: 60px;
    width: 300px;
    background-image: url(images/P.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

.nava{
    float: right;
    cursor: pointer;

}
.nava li{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    padding: 22px 40px;
    list-style: none;
}
.nava a{
    text-decoration: none;
    color:rgb(26, 18, 18);
}

#boo{
    font-weight:bolder;
  
    height:100vh;
    width: 100%;
   background-color:rgb(26, 18, 18);
    background-image: url(images/black1.jpg);
    image-orientation: from-image;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 3px 3px  black;
    border-bottom: 100px solid;
    border-width: medium;
  border-color:black;
}
#boo ul{
    padding-top: 200px;
    padding-left: 30px;
    float: left;
    list-style: none;
}

.c1{
    color:rgb(94, 121, 73);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding-left: 20px;
}
.c2{
    color:rgb(111, 250, 4);
    padding: 40px 20px;
    font-size: 100px;
    text-shadow: 2px 1px goldenrod;
}

#whitespace{
    padding-bottom: 80px;
    color :rgb(8, 10, 8);
    background-color: rgb(8, 10, 8);
}
.space{
    height: 5px;
    width: 100%;
    color:rgb(26, 18, 18);
}



#About{
    color: blanchedalmond;
    height:95vh;
    font-weight: 600;
    width:100%;
   background-image: url(images/tree.jpg);
    border-bottom: 100px solid;
    border-width: medium;
  border-color:black;

   
}
.abl{
    float: left;
    height: 2px;
    width: 60px;
    background-color: azure;
}
.about-head{
   
    color: rgb(191, 228, 25);
    text-align: center;
    padding-top:25px;
    font-size: 50px;
    text-shadow: 1px 1px  rgb(250, 150, 150);
}
.imag{
   float: left;
    height:400px;
    width: 400px;
    background-image:url(images/raghu.jpg);
    background-size: cover;
    margin: 70px;
    padding: 3px 2px;  
    background-repeat: no-repeat;
    border-radius: 400px;
    border-width:medium;
    border: solid;
    border-color: black;
}
.about-data{
    padding-top: 20vh;
    margin-left: 50vw;
    margin-right: 20vw;
}

.links{
    
    height:100px;
    width: 120px;
    color:rgb(26, 18, 18);
    margin-left: 1400px;
}

.links ul{
    list-style: none;
    padding: 30px;
}

#skills{
    padding-bottom: 80px;
    color :rgb(8, 10, 8);
    background-color: rgb(8, 10, 8);
}
#Skills{
    width: 100%;
    height: 91vh;
    color:rgb(26, 18, 18);
    border-bottom: 100px solid;
    border-width: medium;
   background-image: url(images/rainb.jpg);
    border-color:black;
}

.skill-head{
    color: aquamarine;
    padding-top:25px;
    text-align: center;
    font-size: 50px;
    background-color:rgb(8, 10, 8);
}

.skill-bar{
    height: 30px;
    width: 100%;
   

}

#projects{
    padding-bottom: 80px;
    color :rgb(8, 10, 8);
 
}
#Projects{
    width:100%;
    height:91vh;
    background-image: url(images/pro.jpg);
    border-bottom: 100px solid;
    border-width: medium;
  border-color:black;
}
.project-head{
    color: aquamarine;
    padding-top:25px;
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 2px  rgb(214, 35, 35);
}
#projects{
    padding-bottom: 80px;
    color :rgb(8, 10, 8);
    background-color: rgb(8, 10, 8);
}
#contact{
    padding-bottom: 80px;
    color :rgb(8, 10, 8);
    background-color: rgb(8, 10, 8);
}
#Contact{
    width: 100%;
    height: 91vh;
   background-image: url(images/cont.jpg);
    border-bottom: 100px solid;
    border-width: medium;
  border-color:black;
}
.contact-head{
    color: rgb(111, 250, 4);
    padding-top:25px;
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 1px  whitesmoke;
}
